////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//VARIABLE OVERRIDES
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$include-highlights: true;
$base-gradient: 'flat';
$toolbar-icon-size: 1em;
$include-default-icons: false;
$button-radius: .25em;
$button-height: 3em;


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//CUSTOM VARIABLES
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$JAM-blue: #3597de;
$JAM-orange: #ff7f00;
$JAM-green: #7fa000;
$JAM-grey: #262626;

$JAM-blue2: #354b60;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//COMPONENTS USED
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import 'sencha-touch/default/all';

// @include sencha-panel;
@include sencha-buttons;
@include sencha-toolbar;
@include sencha-list;
@include sencha-layout;


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//ICONS USED
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin JAM-iconmask($name) {
  .x-tab .x-button-icon.#{$name},
  .x-button .x-button-icon.x-icon-mask.#{$name} {
    -webkit-mask-image: custom_image("icons/" + $name + ".png");
  }
}

@include JAM-iconmask('download');
@include JAM-iconmask('cloud_black');
@include JAM-iconmask('check_black1');
@include JAM-iconmask('settings9');
@include JAM-iconmask('help_black');
@include JAM-iconmask('power_on');


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//OVERRIDE STYLES
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.x-dragging {
  opacity: 1;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//CUSTOM STYLES
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import 'strawberry';

